.navbar{
  list-style-type: none;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  outline: 1px solid;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.navtext{
  float: right;
  padding-right: 8%;
}

.navtext a{
  display: block;
  color: black;
  text-align: center;
  font-size: 20px;
  padding: 20px 20px;
  text-decoration: none;
  float: right;
  font-weight: bold;
}

.deret {
  display: flex;
  margin: 10px 10px 10px 10px;
  padding:100px 0 0 0;
}

.deret2{   
    display: flex;
    align-items: center; /* Posisi tengah secara vertikal */
    padding: 50px 50px 50px 50px;
}

.pos {
  flex: 50%;
  position: relative;
  margin: auto;
  border: 3px solid black;
  background-color: #f1f500;
  border-radius: 8px 8px 8px 8px;
  overflow: scroll;
  padding:10px 30px 10px 30px;
}
.pos2 {
  display: block;
  position: relative;
  padding: 1px 100px;
  margin: auto;
  text-align: center;
  border: 3px solid black;
  background-color: #f1f500;
  border-radius: 8px 8px 8px 8px;
}

.kom{
  text-align: left;
}

a{
  text-decoration: none;
}

h5{
  font-size: 30px;
}

.gamkom{
  float: right;
  border-radius: 50%;
}