ul {
  list-style-type: none;
  top:0;
  margin: 0;
  padding: 5px 5px 5px 5px;
  overflow: hidden;
  background-color: gray;
  position: fixed;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.deret {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px 10px 10px 10px;
  padding:100px 0 0 0;
}

.deret2{   
    display: flex;
    align-items: center; /* Posisi tengah secara vertikal */
    padding: 50px 50px 50px 50px;
}

.pos {
  display: block;
  position: relative;
  margin: auto;
  text-align: center;
  border: 3px solid black;
  background-color: #f1f500;
  border-radius: 8px 8px 8px 8px;
}
.pos2 {
  display: block;
  position: relative;
  padding: 1px 100px;
  margin: auto;
  text-align: center;
  border: 3px solid black;
  background-color: #f1f500;
  border-radius: 8px 8px 8px 8px;
}

.hide {
  display: none;
}

.myP:hover + .hide {
  display: block;
  color: red;
}

a{
  text-decoration: none;
}

